<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fyber-Email-Client</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

	<div class="container-full">
		<div class="col-md-4 list-region">
			<div id="list"></div>
		</div>
		<div class="col-md-8 content-region">
			<div id="content"></div>	
		</div>
	</div>

	<script id="mailView" type="text/template">
		<p><strong><%= fromName %></strong><small><%= timeAgo %></small><p>
		<p>Re: <%= subject %></p>
	</script>

	<script id="contentView" type="text/template">
		<p>From: <strong><%= fromName %></strong></p>
		<p>Received: <strong><%= dateReceivedFormat %></strong></p>
		<hr>
		<h3>Subject: <strong><%= subject %></strong></h3>
		<p><%= content %></p>
	</script>

	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script src="js/backbone.marionette.min.js"></script>
	
	<script src="js/app.js"></script>
	
</body>
</html>